.form-custom {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 1%;
    width: 100%;
    height: 100%;
}

.review-title {
    align-items: center;
    justify-content: center;
}


.container1{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.submit-button{
    background-color: #4AB3F4;
    color: white;
    border-radius: 25px;
    width: 140px;
    height: 50px;
    font-size: 14px;
    font-weight: bolder;
}